html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* WRAPPER */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background-color: #151515;
}
.header-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner {
    padding: 40px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu__list {
    display: flex;
    gap: 35px;
}
.menu__list-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
.menu__list-link--active {
    color: #0066ff;
}

/* MAIN */
/* TOP */
.main {
    flex-grow: 1;
}
.top {
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}
.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}
.top__link {
    background-color: #151515;
    padding: 23px;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    height: 100vh;
}
.swiper-slide::after {
    content: "";
    background-color: rgba(21, 21, 21, 0.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    margin: 0 15px 20px !important;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #ffffff;
    border-radius: 0;
}

/* WHY-LEASE */
.why-lease {
    padding: 150px 0;
}
.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}
.why-lease__item-img {
    margin-bottom: 30px;
}
.why-lease__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why-lease__item-text {
    text-align: left;
    hyphens: auto;
}

/* HOW-WORK */
.how-work {
    padding-bottom: 150px;
}
.how-work__inner {
    max-width: 600px;
    margin: 0 auto;
}
.how-work__title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}
.how-work__list {
    padding: 50px 0 70px;
    counter-reset: myCounter; /* helps to rewrite digits for ol>li */
}
.how-work__item {
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
    hyphens: auto;
}
.how-work__item + .how-work__item {
    margin-top: 40px;
}
.how-work__item::before {
    counter-increment: myCounter; /* helps to rewrite digits for li element */
    content: counter(myCounter); /* helps to rewrite digits for li element */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 48px;
    font-weight: 700;
    background-color: #0066ff;
    color: #ffffff;
    text-align: center;
}
.how-work__item span {
    font-weight: 700;
}

/* VIDEO */
.video {
    padding-bottom: 150px;
}
.video__title {
    margin-bottom: 20px;
}
.video__text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.video__content {
    display: block;
    margin: 0 auto;
}

/* IMPORTANT */
.important {
    padding-bottom: 150px;
}
.important__title {
    margin-bottom: 20px;
}
.important__text {
    max-width: 580px;
    margin: 0 auto 50px;
}
.important__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.important__item-img {
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #ffffff;
}
.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer__menu-list {
    max-width: 250px;
}
.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* Add space only between menu-items, and not before the first one */
.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}
.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}
.app__item-img {
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.footer__copywrite {
    max-width: 806px;
    margin: 0 auto 30px;
    text-align: center;
}
.footer__copywrite-text {
    font-size: 12px;
}
.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
